*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div p{
    color: aqua;
    background-color: yellow;
}
div > p:nth-child(1){
    background: aqua;
    color: yellow;
}
