*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-top: 5px;
}
.logo img{
    width: 150px;
    height: 50px;
    object-fit:contain;
    margin-left: 100px;
    margin-top: 10px;
}
.logo img:hover{
    cursor: pointer;
}
.items{
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items .small{
    margin-right: 10px;
}
.items .small a{
    text-decoration: none;
    color: rgb(26, 25, 25);
    font-weight: 500;
    padding: 20px 0px 20px 20px;
    transition: .2s ease-in-out;
}
.items :nth-child(5){
    font-weight: 400;
    color: #212020;
    margin-left: 20px;
    text-decoration: none;
}
.items a:hover{
    color: #756e6e;
}
.items .small{
    display:  flex;
    justify-content: center;
    align-items: center;
}
.items img{
    width: 20px;
    height: 20px;
    margin-left: 30px;
}
.container{
    padding: 70px;
    margin: 55px;
}
.container .heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading h1{
    font-weight: 450;
    font-size:50px;
    margin-right: 20px;
}
.heading img{
    margin-top: 10px;
}
.container .paragraph{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
.paragraph p{
    font-size: 25px;
}
.container .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.btn button{
    width: 320px;
    height: 50px;
    color: #ffffff;
    background: #06b4d3;
    border: 2px solid #06b4d3;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: .25s ease;
}
.btn button:hover{
    background:#018299;
    border: 2px solid #018299;
}
.container .extra-text{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 40px;
} 
.extra-text img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.extra-text h3{
    padding:2px 0 0 20px;
    font-size: 24px;
    font-weight: 400;
}
.extra-text small{
    padding-top: 10px;
}
.container .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 13px;
}
.grid .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5fafa;
    border: 2px solid #f5fafa;
    width: 300px;
    height: 150px;
    border-radius: 7px;
}
.box .lang{
    font-size: 24px;
    padding: 10px 0 40px 0;
    font-weight: 500;
}
.box .download-btn{
    width: 120px;
    height: 30px;
    color: #ffffff;
    background: #08b937;
    border: 2px solid #08b937;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: .25s ease;
}
.box .download-btn:hover{
    background:#069e2e;
    border: 2px solid #069e2e;
}

@media screen  and (max-width:900px){
    .container .grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 13px;
    }
}